* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #548687;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vmin;
  width: 60vmin;
  height: 60vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border: none;
  font-size: 8vmin;
  background-color: #ffffc7;
  color: #b0413e;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#reset-btn,
#new-btn {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}

.msg-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffc7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  z-index: 1000;
}

#msg {
  font-size: 5vmin;
  color: #ffffc7;
}

.hide {
  display: none;
}
